# Git
/.git/
/.gitattributes
/.gitignore

# GitHub
/.github/

# VSCode
/.vscode/

# Deprecated
/deprecated/

# Documents
/docs/

# Dependencies
/node_modules/

# Database
/canary/database/dauntless/leaderboards-dataset.json
/canary/database/data.json
/canary/database/logs.txt

# Secrets
/canary/config.json
/src/config.json
/.env
/.env.*

# Docker
/.dockerignore
/Dockerfile
/docker-compose.yaml

# Dev tooling
/eslint.config.js
