# Dauntless Client Authorization Key
DAUNTLESS_AUTHORIZATION=

# Epic Games API Authorization Key
EPIC_AUTHORIZATION=

# Epic Games Correlation ID
EPIC_CORRELATION_ID=

# Epic Games User Agent
EPIC_USER_AGENT=

# Epic Games SDK Version
EPIC_VERSION=

# User Agent for Game Session
USER_AGENT=

# Authorization Code
AUTHORIZATION_CODE=
