# Assets
/canary/assets/command-output/*.png
/canary/assets/dauntless/original/
/canary/assets/games/original/
/canary/assets/monster-hunter/mhfu/original/
/canary/assets/monster-hunter/mhp3rd/original/
/canary/assets/monster-hunter/mhtri/original/

# Dependencies
/node_modules/

# Deprecated
/deprecated/

# Database
/canary/database/dauntless/leaderboards-dataset.json
/canary/database/data.json
/canary/database/log.txt

# Secrets
/canary/config.json
/src/config.json
/.env
