# Git
/.git/
/.gitattributes
/.gitignore

# GitHub
/.github/

# VSCode
/.vscode/

# Canary
/canary/

# Deprecated
/deprecated/

# Documents
/docs/

# Dependencies
/node_modules/

# Secrets
/canary/config.json
/src/config.json
/.env

# Docker
/.dockerignore
/Dockerfile
/docker-compose.yaml

# Dev tooling
/eslint.config.js
