# Git
/.git/
/.gitattributes
/.gitignore

# GitHub
/.github/

# VSCode
/.vscode/

# Canary
/canary/

# Deprecated
/deprecated/

# Dependencies
/node_modules/

# Secrets
/canary/config.json
/src/config.json
/.env
