# dependencies
/node_modules

# assets
/src/assets/blackjack/*/
/src/assets/command-output/*.png
/src/assets/dauntless/original
/src/assets/games/original
/src/assets/monster-hunter/mhfu/original
/src/assets/monster-hunter/mhp3rd/original
/src/assets/monster-hunter/mhtri/original

# database
/src/database/dauntless/trials
/src/database/data.json

# scripts
/src/scripts/dauntless/trials

# secrets
/sample/config.json
/src/config.json

# misc
deprecated
