# dependencies
/node_modules

# assets
/src/assets/blackjack/*/
/src/assets/dauntless/original
/src/assets/monster-hunter/mhfu/original
/src/assets/monster-hunter/mhp3rd/original
/src/assets/monster-hunter/mhtri/original

# commands
/src/commands/utility/dauntless-gauntlet-leaderboard.png
/src/commands/utility/dauntless-meta-builds.png
/src/commands/utility/web-screenshot.png

# secrets
/src/config.json

# versions
deprecated
sample
