# dependencies
/node_modules

# assets
/canary/assets/command-output/*.png
/canary/assets/dauntless/original
/canary/assets/games/original
/canary/assets/monster-hunter/mhfu/original
/canary/assets/monster-hunter/mhp3rd/original
/canary/assets/monster-hunter/mhtri/original

# database
/canary/database/dauntless/trials
/canary/database/data.json

# scripts
/canary/scripts/dauntless/trials

# secrets
/canary/config.json
/src/config.json

# misc
/deprecated
